<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7">
      <h1 style="display: inline-block;"><%= @team.name %> for <%= @buyer.name%></h1>
    </div>
    <div class="col-lg-5 text-right" style="margin-top: 7px;">
      <%= link_to 'Edit Team', edit_buyer_team_path(@buyer, @team), class: "btn btn-black" %>
      <%= link_to 'Add Team Members', edit_buyer_team_path(@buyer, @team), class: "btn btn-black" %>
    </div>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @team_members.present? %>
        <% @team_members.each do |team_member| %>
          <tr>
            <td><%= team_member.name %></td>
            <td><%= team_member.email %></td>
            <td><%= team_member.phone %></td>
            <td><%#= link_to 'Edit', edit_buyer_path(team_member) %></td>
            <td><%#= link_to 'Destroy', team_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="5" class="text-center">No team members yet</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>