<%= form_for(@user, remote: true) do |f| %>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle"><%= @user.name.present? ? 'Edit' : 'Add'%> Staff</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="error_explanation"></div>
    <div class="form-group row">
      <label for="name" class="col-sm-4 col-form-label">Name</label>
      <%= f.text_field :name, class: 'text-box-width' %>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-4 col-form-label">Email</label>
      <%= f.text_field :email, class: 'text-box-width' %>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-sm-4 col-form-label">Phone</label>
      <%= f.text_field :phone, class: 'text-box-width' %>
    </div>
    <% if !@user.try(:is_admin) && is_admin? %>
      <div class="form-group row">
        <label for="role" class="col-sm-4 col-form-label">Buyers</label>
        <%= f.select :buyer_ids, options_from_collection_for_select(@buyers, :id, :name, @user.buyer_ids), { include_blank: false}, multiple: true %>
      </div>
      <div class="form-group row">
        <label for="role" class="col-sm-4 col-form-label">Role</label>
        <%= f.select :role, options_for_select([["Select One", ""], "Manager", "Staff"], selected: @user.role), class: 'text-box-width' %>
      </div>
      <div class="form-group row">
        <label for="status" class="col-sm-4 col-form-label">Status</label>
        <div class="form-check">
          <%= f.check_box :is_active, {class: "form-check-input", checked: true} %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
    <%= f.submit 'Save', class: "btn btn-success btn-sm"%>
  </div>
<% end %>

<script type="text/javascript">
  
$(document).ready(function(){
 $('#user_buyer_ids').multiselect({
  nonSelectedText: 'Select Buyers'
 });
 
});
</script>
