<html>
   
  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>
   
  <body>
    <p>Dear Sir/Mam, </p>
    
    <p>
      Courier has been dispatched on <b><%= @courier.courier_date.strftime("%d-%m-%Y")%></b>.<br>
    </p>
    
    <p>
      The following are the details of the courier and items, <br>
    </p>
      
    <p>AirwayBill Number: <%= @courier.airway_bill_number%></p>
    <table style="border: 1px solid black;width: 100%;border-collapse: collapse;">
      <thead>
        <tr>
          <th style="text-align: center;border: 1px solid black;">S.no</th>
          <th style="text-align: center;border: 1px solid black;">Sample Type</th>
          <th style="text-align: center;border: 1px solid black;">Description</th>
          <th style="text-align: center;border: 1px solid black;">No of samples</th>
        </tr>
      </thead>
      <tbody>
        <% @items.order(:serial_number).each do |item|%>
          <tr>
            <td style="text-align: center;border: 1px solid black;"><%= item.serial_number %></td>
            <td style="text-align: center;border: 1px solid black;"><%= item.sample_type.name %></td>
            <td style="text-align: center;border: 1px solid black;"><%= item.description %></td>
            <td style="text-align: center;border: 1px solid black;"><%= item.number_of_samples %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br/>
    <p>
      Please open the attached PDF for images of the items sent.
    </p>
    <br/>
    <p><b>Thanks & regards,</b></p>
    <p>
      <%= image_tag attachments['logo.png'].url, width:"75", height:"75" %>
    </p>
    <h4><b>ECLAT INTERNATIONAL</b></h4>
    <h5>*** This is an auto generated mail ***</h5>
  </body>
</html>
