<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h4>Dear Sir/Madam, </h4>
      
      <p>
        Courier has been dispatched on <b><%= @courier.courier_date.strftime("%d-%m-%Y")%></b>.<br>
      </p>
      
      <p>
        The following are the details of the courier and items, <br>
      </p>
      
      <p>AirwayBill Number: <%= @courier.airway_bill_number%></p>
      <table>
      <thead>
        <tr>
          <th>S.no</th>
          <th>Sample Type</th>
          <th>Description</th>
          <th>No of samples</th>
        </tr>
      </thead>
      <tbody>
        <% @items.order(:serial_number).each do |item|%>
          <tr>
            <td><%= item.serial_number %></td>
            <td><%= item.sample_type.name %></td>
            <td><%= item.description %></td>
            <td><%= item.number_of_samples %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>Thanks & regards,</p>
    <p>
      <%= image_tag attachments['logo.png'].url, width:"75", height:"75" %>
    </p>
    <br/>
    <br/>
    <h5>*** This is an auto generated mail ***</h5>
   </body>
</html>

<style type="text/css">
   table, th, td {
      border: 1px solid black;
   }
   table {
      width: 100%;
   }
</style>