<div class="row mt-20">
	<div class="col-lg-4">
		<%= link_to all_couriers_path do %>	
			<div class="card custom-card shadow-sm card-style">
			  <div class="card-body">
			    <h5 class="card-title text-center">Total couriers sent</h5>
			    <h1 class="card-text text-center"><%= Courier.sent(current_user).count%></h1>
			  </div>
			</div>
		<% end %>
	</div>
	<div class="col-lg-4">
		<%= link_to undelivered_couriers_path do %>	
			<div class="card custom-card shadow-sm card-style">
			  <div class="card-body">
			    <h5 class="card-title text-center">In Transit</h5>
			    <h1 class="card-text text-center"><%= Courier.pending_delivery(current_user).count%></h1>
			  </div>
			</div>
		<% end %>
	</div>
	<div class="col-lg-4">
		<div class="card custom-card shadow-sm card-style">
		  <div class="card-body">
		    <h5 class="card-title text-center">Total couriers delivered</h5>
		    <h1 class="card-text text-center"><%= Courier.delivered(current_user).count%></h1>
		  </div>
		</div>
	</div>
</div>
<div class="row mt-20">
	<div class="col-lg-4">
		<div class="card custom-card shadow-sm card-style">
		  <div class="card-body">
		    <h5 class="card-title text-center">Total items sent</h5>
		    <h1 class="card-text text-center"><%= Item.sent(current_user).count%></h1>
		  </div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="card custom-card shadow-sm card-style">
		  <div class="card-body">
		    <h5 class="card-title text-center">Total items delivered</h5>
		    <h1 class="card-text text-center"><%= Item.delivered(current_user).count%></h1>
		  </div>
		</div>
	</div>
	<div class="col-lg-4">
		<%= link_to pending_buyer_comments_path do %>		
			<div class="card custom-card shadow-sm card-style">
			  <div class="card-body">
			    <h5 class="card-title text-center">Pending vendor comments</h5>
			    <h1 class="card-text text-center"><%= Item.pending_buyer_comments(current_user).count%></h1>
			  </div>
			</div>
		<% end %>
	</div>
</div>
<div class="row mt-20">
	<div class="col-lg-4">
		<%= link_to buyer_approved_items_path do %>	
			<div class="card custom-card shadow-sm card-style">
			  <div class="card-body">
			    <h5 class="card-title text-center">Total items approved</h5>
			    <h1 class="card-text text-center"><%= Item.approved(current_user).count%></h1>
			  </div>
			</div>
		<% end %>
	</div>
	<div class="col-lg-4">
		<%= link_to pending_buyer_approval_path do %>		
			<div class="card custom-card shadow-sm card-style">
			  <div class="card-body">
			    <h5 class="card-title text-center">Total approval clarification pending</h5>
			    <h1 class="card-text text-center"><%= Item.pending(current_user).count%></h1>
			  </div>
			</div>
		<% end %>
	</div>
</div>
