<div style="margin-top: 20px;" class="tableFixHead">
	<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Sample Type</th>
        <th scope="col">Description</th>
        <th scope="col">No of samples</th>
        <th scope="col">Photo</th>
        <th scope="col">Buyer comments</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @courier.items.present? %>
        <% @courier.items.includes(:sample_type).each do |item| %>
          <tr>
            <td><%= item.serial_number %></td>
            <td><%= item.sample_type.name %></td>
            <td><%= item.description %></td>
            <td><%= item.number_of_samples %></td>
            <td><%= image_tag item.item_image.variant(resize: "100x100") if item.item_image.attached? %></td>
            <td><%= item.buyer_comments.present? ? item.buyer_comments : 'NA' %></td>
            <% if @approved%>
            	<td>
                <button class="fa fa-edit" disabled></button>
              </td>
              <td>
                <button class="fa fa-trash" disabled></button>
              </td>
            <% else%>
	            <td><%= link_to '', edit_buyer_courier_item_path(@buyer, @courier, item, courier_show_page: true), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'fa fa-edit'} %></td>
	            <td><%= link_to '', buyer_courier_item_path(@buyer, @courier, item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash' %></td>
	          <% end %>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="7" class="text-center">No items yet</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>