<%= form_for([@buyer, @courier], remote: true) do |f| %>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Edit Courier</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="error_explanation"></div>
    <div class="form-group row">
      <label for="team" class="col-sm-4 col-form-label">Team</label>
      <%= f.select(:team_id, @buyer.teams.order(:name).pluck(:name, :id),  {prompt: "Select a team"}, {class: 'text-box-width'}) %>
    </div>
    <div class="form-group row">
      <label for="airway_bill_number" class="col-sm-4 col-form-label">Airway Bill No</label>
      <%= f.text_field :airway_bill_number %>
      <div style="margin-left: 10px;">
        <%#= f.file_field :airway_bill_image %>
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-4 col-form-label">Description</label>
      <%= f.text_area :description, class: 'text-box-width' %>
    </div>
    <div class="form-group row">
      <label for="courier_date" class="col-sm-4 col-form-label">Courier Date</label>
      <%= f.date_select :courier_date %>
    </div>
    <div class="form-group row">
      <label for="number_of_items" class="col-sm-4 col-form-label">No of Items</label>
      <%= f.text_field :number_of_items %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
    <%= f.submit 'Save', class: "btn btn-success btn-sm"%>
  </div>
<% end %>