<table class="table table-striped" id="couriers">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Airway Bill No</th>
      <th scope="col">Sent on</th>
      <th scope="col">Team</th>
      <th scope="col">Approved</th>
      <th scope="col">Delivered</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @couriers.present? %>
      <% @couriers.includes(:team).each do |courier| %>
        <tr>
          <td><%= link_to courier.airway_bill_number, buyer_courier_path(@buyer, courier) %></td>
          <td><%= courier.courier_date.present? ? courier.courier_date.strftime("%d-%m-%Y") : ''%></td>
          <td><%= courier.team.name %></td>
          <td><%= courier.approved ? 'Yes' : 'No' %></td>
          <td><%= courier.delivery_date.present? ? courier.delivery_date.strftime("%d-%m-%Y") : 'Pending' %></td>
          <% if courier.approved%>
            <td>
              <% unless courier.delivery_date.present?%>
                <%= link_to 'Add vendor comments', edit_delivery_items_buyer_courier_items_path(@buyer, courier) %>
                <% end %>
              <button class="fa fa-edit" disabled></button>
            </td>
          <% else %>
            <td>
              <%= link_to '', edit_buyer_courier_path(@buyer, courier), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'fa fa-edit'} %><%= link_to '', buyer_courier_path(@buyer, courier), method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash' %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="6" class="text-center">No couriers yet</td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">

  var table = $('#couriers').DataTable( {
    scrollY: 450,
    orderCellsTop: true,
    fixedColumns: true,
    fixedHeader: true,
    width: 100
  } );
</script>
