<div class="container-fluid mt-10 card shadow-sm" style="background-color: white;">
	<div class="card-header">
    <div class="row align-items-center">
      <div class="col">
      	<% if is_admin? %>
	      	<h2 class="h5">Vendor - <%= link_to @buyer.name, buyer_path(@buyer) %></h2>
				<% else %>
					<h2 class="h5">Vendor - <%= @buyer.name %></h2>
				<% end %>
      </div>
      <div class="col text-right">
      	<% if is_admin? %>
					<%= link_to 'Couriers', buyer_couriers_path(@buyer), class: 'btn btn-black btn-sm' %>
				<% else %>
					<%= link_to 'Couriers', all_couriers_path, class: 'btn btn-black btn-sm' %>
				<% end %>
        <% unless @courier.approved %>
					<%= link_to 'Add / Edit items', sample_type_items_buyer_courier_path(@buyer, @courier), class: 'btn btn-black btn-sm' %>
				<% end %>
				<% if @courier.approved %>
					<%= link_to 'Add / Edit Buyer Comments', edit_delivery_items_buyer_courier_items_path(@buyer, @courier), class: 'btn btn-black btn-sm' %>
				<% end %>
      </div>
    </div>
    <div class="row align-items-center mt-10">
  		<div class="col-lg-6">
    		<span class='col-lg-3'><b>Team </b></span> : <%= @courier.team_name%>
    	</div>
    	<div class="col-lg-6">
    		<% if @has_items %>
					<span class='col-lg-3'><b>Approval Status </b></span>
					<% if @approved %> 
						: <%= fa_approved %>
					<% elsif is_staff?%>
						: <%= fa_pending %> 
					<% else %>
						: <%= (link_to 'Approve', approve_status_buyer_courier_path(@buyer, @courier), class: 'btn btn-success btn-sm')%>
					<% end %>
				<% end %>
			</div>
    </div>
    <div class="row align-items-center mt-10">
    	<div class="col-lg-6">
				<span class='col-lg-3'><b> Airway Bill No </b></span> : <%= @courier.airway_bill_number%>
			</div>
			<div class="col-lg-6">
				<% if @has_items %>
					<span class='col-lg-3'><b>Delivery Status </b></span> 
					<% if @courier.delivery_date.present? %> 
						: <span style="color: green;"> Delivered on <%= delivery_date_display(@courier)%></span> 
					<% else %>
						: <%= fa_pending%>
					<% end %>
				<% end %>
			</div>
    </div>
		<% if @courier.airway_bill_image.attached?%>
			<div class="row align-items-center mt-10">
				<div class="col ml-15">
					<%= image_tag @courier.airway_bill_image.variant(resize: "100x100")%>
				</div>
				
			</div>
		<% end %>
  </div>
	<% if @has_items%>
		<div id="courier_items_table">
		  <%= render partial: 'courier_items'%>
		</div>
	<% else %>
		<h4 class="text-center mt-30">No items added yet</h4>
	<% end %>
</div>


<%= render partial: 'layouts/modal'%>