<div class="sidenav">
   <div class="login-main-text">
      <h2>Application<br> Login Page</h2>
      <p>Login from here to access.</p>
   </div>
</div>
<div class="main">
  <div class="col-md-12 col-sm-12">
    <div class="login-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div id="notice_and_error">
          <%= render partial: 'layouts/notice_and_error'%>
        </div>
        <div class="form-group">
          <label>Email / Phone</label>
          <%= f.text_field :login, autofocus: true, autocomplete: "sign_in", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <%= f.submit "Log in", class: "btn btn-black" %>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>