<% @items.group_by(&:courier).each do |courier, items| %>
	<div class="new-page"></div>
	<%= render partial: 'layouts/header.html.erb'%>
	<h2>Airway Bill Number: <%= courier.airway_bill_number %></h2>
	<h5>Delivered on: <%= courier.delivery_date.present? ? courier.delivery_date.strftime("%d-%m-%Y") : ''%></h5>
	<br/>
	<h2><u>Items</u></h2>
	<% items.sort_by(&:serial_number).each_with_index do |item, index|%>
		<% if index > 0%>
			<div class="new-page"></div>
			<%= render partial: 'layouts/header.html.erb'%>
		<% end %>
		<table class="table table-striped">
			<thead class="thead-dark">
			  <tr>
			    <th>S.no</th>
			    <th>Sample Type</th>
			    <th>Description</th>
			    <th>No Of samples</th>
			    <th>Remarks</th>
			  </tr>
			</thead>
			<tbody>
	      <tr>
	        <td><%= index+1 %></td>
	        <td><%= item.sample_type_name %></td>
	        <td><%= item.description %></td>
	        <td><%= item.number_of_samples %></td>
	        <td><%= item.remarks %></td>
	      </tr>
			</tbody>
		</table>
		<p><%= image_tag url_for(item.item_image.variant(resize: "800x800")) if item.item_image.attached?%></p>
		<br/>
		<hr/>
		<br/>
	<% end %>
	<br/>
	<hr/>
	<hr/>
	<br/>
<% end %>

<style type="text/css">
.new-page{
        page-break-before: always;
    }
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
th, td {
    text-align: center;
}
th {
    display: table-cell;
    /*vertical-align: inherit;*/
    font-weight: bold;
    /*text-align: -internal-center;*/
    background-color: #76abff;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
</style>