<% @company = @courier.buyer.company%>
<%= render partial: 'layouts/header', locals: {company: @company} %>
<h2 style="text-align: center;">ITEMS LIST</h2>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h3>Airway Bill Number: <%= @courier.airway_bill_number %></h3>
<% if @courier.airway_bill_image.attached? && @courier.airway_bill_image.content_type != "application/pdf" %>
    <p><%= image_tag url_for(@courier.airway_bill_image.variant(resize: "400x400")) %></p>
<% else %>
    <p>No Preview available</p>
<% end %>
<br/>
<div class="new-page"></div>
<%= render partial: 'layouts/header', locals: {company: @company} %>
<h3><u>Items</u></h3>
<% @items.each_with_index do |item, index| %>
	<div class="<%= index != 0 ? 'new-page' : ''%>">
        <% if index != 0%>
            <%= render partial: 'layouts/header', locals: {company: @company} %>
        <% end %>
    <table class="table table-striped">
		<thead class="thead-dark">
		  <tr>
		    <th>S.no</th>
		    <th>Sample Type</th>
		    <th>Description</th>
		    <th>No Of samples</th>
		  </tr>
		</thead>
		<tbody>
      <tr>
        <td><%= item.serial_number %></td>
        <td><%= item.sample_type.name %></td>
        <td><%= item.description %></td>
        <td><%= item.number_of_samples %></td>
      </tr>
		</tbody>
	</table>
    <% if item.item_image.attached? && item.item_image.content_type != "application/pdf" %>
	   <p><%= image_tag url_for(item.item_image.variant(resize: "800x800")) %></p>
    <% else %>
        <p>No Preview available</p>
    <% end %>
</div>
<% end %>

<style type="text/css">
.new-page{
        page-break-before: always;
    }
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
th, td {
    text-align: center;
}
th {
    display: table-cell;
    /*vertical-align: inherit;*/
    font-weight: bold;
    /*text-align: -internal-center;*/
    background-color: #76abff;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
</style>