<%= form_for(@buyer, remote: true) do |f| %>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle"><%= @buyer.name.present? ? 'Edit' : 'Add'%> Vendor</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="error_explanation"></div>
    <div class="form-group row">
      <label for="name" class="col-sm-4 col-form-label">Name</label>
      <%= f.text_field :name, class: 'text-box-width' %>
    </div>
    <div class="form-group row">
      <label for="address" class="col-sm-4 col-form-label">Address</label>
      <%= f.text_area :address, class: 'text-box-width' %>
    </div>
    <div class="form-group row">
      <label for="company" class="col-sm-4 col-form-label">Company</label>
      <%= f.select(:company, Buyer::COMPANY, {class: 'text-box-width'}) %>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-4 col-form-label">Email</label>
      <%= f.select(:email, Buyer::EMAILS, {class: 'text-box-width'}) %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
    <%= f.submit 'Save', class: "btn btn-success btn-sm"%>
  </div>
<% end %>