<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Teams</th>
        <th scope="col">Couriers</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @buyers.present? %>
        <% @buyers.each do |buyer| %>
          <tr>
            <td><%= link_to buyer.name, buyer %></td>
            <td><%= buyer.teams.length %></td>
            <td><%= buyer.couriers.length %></td>
            <td><%= link_to '', edit_buyer_path(buyer), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'fa fa-edit'} %></td>
            <td><%= link_to '', buyer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash' %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3" class="text-center">No vendors yet</td>
        </tr>
      <% end %>
    </tbody>
  </table>