<style type="text/css">

table tbody {
  display: block;
  max-height: 400px;
  overflow-y: scroll;
}

table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
</style>
<div id="message"></div>
<button class='btn btn-black btn-sm mb-10' id="send_reminder_mail">Send reminder mail</button>
<%= form_tag update_pending_buyer_comments_buyer_path do %>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Select</th>
      <th>Airway Bill No</th>
      <th>Delivered On</th>
      <th>Description</th>
      <th>Sample Type</th>
      <th>Items</th>
      <th>Photo</th>
      <th>Approval</th>
      <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
    <% if @items.present? %>
      <% @items.each do |item| %>
        <tr>
          <td><%= check_box_tag "items[id][#{item.id}]", '', false, class: 'checkbox'%></td>
          <td><%= item.courier.airway_bill_number %></td>
          <td><%= delivery_date_display(item.courier) %></td>
          <td><%= item.description%></td>
          <td><%= item.sample_type_name %></td>
          <td><%= item.number_of_samples %></td>
          <td><%= image_tag item.item_image.variant(resize: "100x100") if item.item_image.attached? %></td>
          <td><%= select_tag "items[buyer_approved][#{item.id}]", options_for_select(['Select', 'Approved', 'Pending'])%></td>
          <td><%= text_field_tag "remarks[#{item.id}]", '', style: 'width: 100%', class: 'remarks'%></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="9" class="text-center">No items with pending comments</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= hidden_field_tag 'buyer_id', @buyer.id%>
<div id="submit_div" style="display: none;">
  <p id="selected" style="display: hidden;"></p>
  <%= submit_tag 'Save', id: 'submit', class: 'btn btn-success btn-sm'%>
</div>
<% end %>
<script type="text/javascript">
  $('.checkbox').click(function(){
    if ($("input:checkbox:checked").length > 0)
    {
      $('#selected').html('Selected items - ');
      $('#submit_div').show();
      $('#selected').append($("input:checkbox:checked").length + ' of '+ $("input:checkbox").length);
      $('#selected').show();
    }
    else
    {
      $('#submit_div').hide();
    }
  })

  $('#submit').on('click', function (e) {
    $("input:checked").each(function () {
        var id = $(this).attr("id").split('_')[2];
        if($('#items_buyer_approved_'+id).val() == 'Select'){
          alert('Select the approval status for all checked items');
          e.preventDefault();
          return false;
        }
    });
  })

  $('#send_reminder_mail').click(function(){
    var remarks = []
    $('.remarks').each(function(){
      var remarks_hash = {}
      remarks_hash[$(this).attr('id').split('_')[1]] = this.value;
      remarks.push(remarks_hash)
    })
    $.ajax({
      url: "/send_reminder_mail",
      method: "GET",  
      dataType: "json",
      data: {id: <%= @buyer.id%>, from: 'pending_buyer_comments_buyer', remarks: remarks },
      error: function (xhr, status, error) {
        console.error('AJAX Error: ' + status + error);
      },
      success: function (response) {
        $('#message').append(
          '<div class="alert alert-success alert-dismissable">'+
            '<button type="button" class="close" data-dismiss="alert">'+
                '<span aria-hidden="true">&times;</span>'+
                '<span class="sr-only">Close</span>'+
            '</button>'+
            response.notice+
          '</div>'
        );
        $('.remarks').each(function(){
          this.value = '';
        })
      }
    });
  })
</script>