<%= form_tag update_pending_buyer_comments_buyer_path do %>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Select</th>
      <th scope="col">Airway Bill No</th>
      <th scope="col">Delivered On</th>
      <th scope="col">Description</th>
      <th scope="col">Sample Type</th>
      <th scope="col">No of items</th>
      <th scope="col">Serial No</th>
    </tr>
  </thead>
  <tbody>
    <% if @items.present? %>
      <% @items.includes(:courier, :sample_type).each do |item| %>
        <tr>
          <td><%= check_box_tag "item_ids[#{item.id}]", '', false, class: 'checkbox'%></td>
          <td><%= item.courier.airway_bill_number %></td>
          <td><%= item.courier.delivery_date.present? ? item.courier.delivery_date.strftime("%d-%m-%Y") : ''%></td>
          <td><%= item.description%></td>
          <td><%= item.sample_type.name %></td>
          <td><%= item.number_of_samples %></td>
          <td><%= item.serial_number %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="7" class="text-center">No pending comments</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= hidden_field_tag 'buyer_id', @buyer.id%>
<div id="submit_div" style="display: none;">
  <%= submit_tag 'Save', id: 'submit', class: 'btn btn-success'%>
</div>
<% end %>
<script type="text/javascript">
  $('.checkbox').click(function(){
    if ($("input:checkbox:checked").length > 0)
    {
      $('#submit_div').show();
    }
    else
    {
      $('#submit_div').hide();
    }
  })
</script>