<div class="container-fluid mt-10 card shadow-sm" style="background-color: white;">
	<div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="h5">Vendor - <%= @buyer.name %></h2>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <h6>Address - <%= @buyer.address %></h6>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <%= link_to 'Add Team', new_buyer_team_path(@buyer), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-black btn-sm'} %>
        <% if @buyer.teams.present? %>
	        <%= link_to 'Couriers', buyer_couriers_path(@buyer), class: 'btn btn-black btn-sm' %>
        <% end %>
      </div>
    </div>
  </div>
	<div id="teams_table">
	  <%= render partial: 'teams/index'%>
	</div>
</div>

<%= render partial: 'layouts/modal'%>